body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tab {
  display: none;
}